@custom-media --viewport-small (width <= 30rem)

$black: #3f3f50

body, html
  margin: 0
  padding: 0
  text-align: center
  font-family: sans-serif
  font-weight: 100
  box-sizing: border-box
  min-height: 100%
  background-color: #f3f3f3
  color: $black

.main-holder
  margin: 0 auto
  padding: 0
  size: 100%
  overflow-x: hidden
  .title
    left: center
    top: 0
    z-index: 1
    .header
      letter-spacing: 3px
      h1
        font-weight: 400
      .underline
        width: 10rem
    .spans
      text-transform: uppercase
      span
        @media (--viewport-small)
          margin: 5px
        margin: 10px
  .hero
    position: relative
    height: 70vh
    min-height: 400px
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    .saying
      top: center
      left: center
      margin: 0 auto
      padding: 30px
      width: 100%
      color: #f3f3f3
      @media (--viewport-small)
        padding: 5px
      h2
        font-weight: 100
        font-size: responsive
        max-font-size: 50px
        min-font-size: 20px
  .boxes
    display: inline-flex
    width: 100%
    margin: 30px 0 30px 0
    @media (--viewport-small)
      display: block
    .left, .right
      height: 150px
      width: 50%
      position: relative
      .box-content
        margin: 30px
        i
          font-size: 30px
          padding-bottom: 20px
          color: $black
        p
          left: center
          margin: 0 auto
    .left
      border-right: 1px solid $black
      margin-left: 10px
    .right
      border-left: 1px solid $black
      margin-right: 10px
    @media (--viewport-small)
      .left, .right
        width: 100%
        border: none
        margin: 0 auto
        display: block
  .location
    height: 400px
    position: relative
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    div
      position: absolute
      top: 20px
      left: center
      *
        font-weight: 100
  .prices
    position: relative
    margin-top: 30px
    h4
      font-weight: 200
    @media (--viewport-small)
      height: 500px
      h4
        margin: 0 auto
    .priceList
      display: flex
      position: relative
      overflow: hidden
      @media (--viewport-small)
        width: 220px
      .priceItem
        width: 33%
        height: auto
        ul
          list-style: none
          padding: 0
          width: 150px
          margin: 0 auto
          li
            margin: 10px
            text-align: center
      @media (--viewport-small)
        display: block
        left: center
        .priceItem
          width: 100%
          border-left: none
          border-bottom: 1px solid $black
  .points
    padding: 30px
  .plug
    left: center
    width: 100%
    margin: 0 auto
    padding: 30px 0 30px 0 
    a
      color: $black
      text-decoration: none
      font-size: 16px
    .underline
      top: 10px
      width: 60px
    
.underline
  border-bottom: 2px solid $black
  position: relative
  bottom: 10px
  left: center
  width: 25%