@custom-media --viewport-small (width <= 30rem)

body, html
  margin: 0
  padding: 0
  text-align: center
  font-family: sans-serif
  font-weight: 100
  box-sizing: border-box
  min-height: 100%

.main-holder
  margin: 0 auto
  padding: 0
  size: 100%
  overflow-x: hidden
  .title
    .header
      letter-spacing: 3px
      h1
        font-weight: 400
      .underline
        width: 10rem
    .spans
      text-transform: uppercase
      span
        @media (--viewport-small)
          margin: 5px
        margin: 10px
  .hero
    position: relative
    height: 70vh
    min-height: 400px
    .saying
      top: center
      left: center
      margin: 0 auto
      padding: 30px
      width: 100%
      @media (--viewport-small)
        padding: 5px
      h2
        font-weight: 100
        font-size: responsive
        max-font-size: 50px
        min-font-size: 20px
  .boxes
    display: inline-flex
    width: 100%
    @media (--viewport-small)
      display: block
    div
      height: 150px
      width: 50%
      position: relative
      i
        font-size: 30px
      p
        top: center
        left: center
        margin: 0 auto
    .left
      border-right: 1px solid black
      margin-left: 10px
    .right
      border-left: 1px solid black
      margin-right: 10px
    @media (--viewport-small)
      .left, .right
        width: 100%
        border: none
        margin: 0 auto
        display: block
  .location
    height: 400px
    position: relative
    div
      position: absolute
      top: 20px
      left: center
      *
        font-weight: 100
  .prices
    position: relative
    h4
      font-weight: 200
    @media (--viewport-small)
      height: 500px
      h4
        margin: 0 auto
    .priceList
      display: flex
      position: relative
      overflow: hidden
      @media (--viewport-small)
        width: 220px
      .priceItem
        width: 33%
        height: 120px
        ul
          list-style: none
          padding: 0
      @media (--viewport-small)
        display: block
        left: center
        .priceItem
          width: 100%
          border-left: none
          border-bottom: 1px solid black
  .points
    padding: 30px
  .plug
    left: center
    width: 100%
    margin: 0 auto
    padding: 30px 0 30px 0 
    a
      color: #101721
      text-decoration: none
      font-size: 16px
    .underline
      top: 10px
      width: 60px
    
.underline
  border-bottom: 2px solid #101721
  position: relative
  bottom: 10px
  left: center
  width: 25%